<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-W3CDTD XHTML 1.0 TransitionalEN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:panelGrid columns="2">
            <h:outputLabel value="#{myBean.identifiers[0].key}" />
            <p:inputText id="#{myBean.identifiers[0].friendlyName}" value="#{myBean.identifiers[0].userValue}" required="true" />
            <h:outputLabel value="#{myBean.demographics[0].label}" />
            <p:inputText id="#{myBean.demographics[0].friendlyName}" value="#{myBean.demographics[0].userValue}" required="true" />
            <h:outputLabel value="#{myBean.demographics[1].label}" />
            <p:inputText id="#{myBean.demographics[1].friendlyName}" value="#{myBean.demographics[1].userValue}" required="true" />

            <h:outputLabel value="#{myBean.demographics[2].label}" />
            <p:calendar value="#{myBean.demographics[2].userDateValue}"
                        rendered="#{myBean.demographics[2].type eq 'calendar'}" yearRange="c-100:c+0" pattern="yyyyMMdd" 
                        navigator="true">
                <f:convertDateTime pattern="yyyyMMdd"/>
            </p:calendar>
        </h:panelGrid>
            <a id="sc_link" target="_blank" href="/jnlp/openecard.jnlp">#{msg['patient.search.downloadeid']}</a>
    </ui:composition>
</html>
